### 202010654 박지훈

In [13]:
score=int(input("정수 입력:"))
if score>=90:
    print("A학점")
    print("장학금 수여")

In [8]:

age_0=22
age_1=18
age=int(input("your age?:"))
if age<age_0 and age > age_1:
    print("당신의 나이는 18~22세 사이입니다.")

In [14]:
if score>=90:
    print("Pass")
else:
    print("Fail")

Fail

In [15]:
res='Pass' if score>=90 else 'fail'
print(res)

fail

In [16]:
year=int(input("Type a year:"))
if(year%4 ==0 and year%100 !=0) or (year%400)==0:
    print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2024 is a leap year

In [18]:
n = int(input("type int number:"))
if n >0:
    print("positive")
else:
    if n<0:
        print("negative")
    else:
        print("0")

positive

In [21]:
n=int(input("type int number:"))
if n>0:
    if n==0:
        print("0")
    else:
        print("positive")
else:
    print("negative")

positive

In [23]:
age=12
if age<4:
    price=0
elif age<18:
    price=5
elif age<65:
    price=10
else:
    price=5

print("Your admission cost i $" + str(price) +".")

Your admission cost i $5.

In [24]:
i=1
sum=0
while i<=100:
    sum=sum+i
    i=i+1

print("sum=", sum)

sum= 5050

In [25]:
n=int(input('Numer:'))
result =''

while n!=0:
    m=n%2
    result=str(m)+result
    n=n//2

print("2진수=", result)

2진수= 1111

In [27]:
for i in(1,2,3):
    print("숫자",i)
for i in 'hello':
    print(i)

숫자 1
숫자 2
숫자 3
h
e
l
l
o

In [28]:
for i in range(1,4,1):
    print("Number",i)
Number 1
Number 2
Number 3

SyntaxError: invalid syntax (4270188599.py, line 3)

In [29]:
sum=0
for i in range(1,101,1):
    sum=sum+i
print("sum=", sum)

sum= 5050

In [31]:
x=float(input('type x:'))
n=int(input('Type n:'))

prod=1
for i in range(1, n+1):
    pord=prod*x
print(prod)

1

In [1]:
for i in range(2, 10, 1):
    for j in range(1, 10, 1):
        print("%d x %d = %d" %(i, j, i*j))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
while True:
    print("last forever")

In [14]:
from random import randint
secret_num=randint(1,100)
num_guesses=0
guess=0
while guess != secret_num and num_guesses <=6:
    guess=eval(input("1~100 사이의 정수를 입력하세요:"))
    num_guesses=num_guesses+1
    if guess < secret_num:
        print('더 큽니다', 5-num_guesses, '기회 남음\n')
    elif guess > secret_num:
        print('더 작습니다',5-num_guesses, '기회 남음\n')
    else:
        print('맞습니다')
if num_guesses==7 and guess != secret_num:
    print('졌습니다 정답은', secret_num, '입니다')

더 작습니다 4 기회 남음

더 작습니다 3 기회 남음

더 작습니다 2 기회 남음

더 작습니다 1 기회 남음

더 작습니다 0 기회 남음

맞습니다

In [15]:
n=10
while n >= -10:
    if n ==0:
        break
    inv=1.0/n
    print(inv)
    n=n-1

0.1
0.1111111111111111
0.125
0.14285714285714285
0.16666666666666666
0.2
0.25
0.3333333333333333
0.5
1.0

202010654박지훈

In [17]:
n=10
while n>= -10:
    if n==0:
        n=n-1
        continue
    inv=1.0/n
    print("n=%d, inv(n)=%0.2f"%(n,inv))
    n=n-1

n=10, inv(n)=0.10
n=9, inv(n)=0.11
n=8, inv(n)=0.12
n=7, inv(n)=0.14
n=6, inv(n)=0.17
n=5, inv(n)=0.20
n=4, inv(n)=0.25
n=3, inv(n)=0.33
n=2, inv(n)=0.50
n=1, inv(n)=1.00
n=-1, inv(n)=-1.00
n=-2, inv(n)=-0.50
n=-3, inv(n)=-0.33
n=-4, inv(n)=-0.25
n=-5, inv(n)=-0.20
n=-6, inv(n)=-0.17
n=-7, inv(n)=-0.14
n=-8, inv(n)=-0.12
n=-9, inv(n)=-0.11
n=-10, inv(n)=-0.10

In [19]:
def handle_status(status):
    match status:
        case 200:
            return "성공"
        case 400:
            return "페이지를 찾을 수 없음"
        case 500:
            return "서버 오류"
        case _:
            return "알 수 없는 상태"
print(handle_status(200))
print(handle_status(999))

성공
알 수 없는 상태