In [1]:
def welcome(name):
    print("Hello, ", name)

welcome('John')

Hello,  John

In [2]:
def prtStr(str):
    print("%s" %str)
    return

str="Wecome to Python"
prtStr(str)

Wecome to Python

In [3]:
def squareArea(s):
    area = s * s
    return area

a=squareArea(5)
b=squareArea(7)
print("한변의 길이가 %d인 정사각형의 넓이는 %d" %(5,a))
print("한변의 길이가 %d인 정사각형의 넓이는 %d" %(7,b))

한변의 길이가 5인 정사각형의 넓이는 25
한변의 길이가 7인 정사각형의 넓이는 49

In [4]:
def sum(n):
    hab=0
    for i in range(1,n+1):
        hab=hab+i
    return hab
a=sum(50)
b=sum(100)
print(a)
print(b)

1275
5050

In [5]:
def func1():
    v=10
    print("func1()의 v=%d" % v)

def func2():
    print("func2()의 v=%d" % v)

v=20
func1()
func2()

func1()의 v=10
func2()의 v=20

In [6]:
def func1():
    v=10
    print("func1()의 v= %d" % v)

def func2():
    global v
    v=30
    print("func2()의 v= %d" % v)

v=20
func1()
func2()
print(v)

func1()의 v= 10
func2()의 v= 30
30

In [7]:
def prtMesg(message, count=1):
    print(message * count)
prtMesg('default')
prtMesg('Hi!', 5)

default
Hi!Hi!Hi!Hi!Hi!

In [9]:
def greet(name, msg="Nothing new?"):
    print("Hi!", name+','+msg)
greet("Abe")
greet("Bob", "Good morning!")

Hi! Abe,Nothing new?
Hi! Bob,Good morning!

In [10]:
def total(*numbers):
    sum=0
    for n in numbers:
        sum+=n
    return sum
print(total(1,2,3))
print(total(1,2,3,4,5,))

6
15

In [11]:
def dicPresident(**keywords):
    for i in keywords.keys():
        print("%s : %d-th president" %(i, keywords[i]))
dicPresident(George=1, Abe=16, Trump=45)

George : 1-th president
Abe : 16-th president
Trump : 45-th president

In [12]:
def func(a, b=2, c=3):
    print('a=', a, 'b=', b, 'c=', c)
    return a + b + c
print(func(4,5))
print(func(5,c=7))

a= 4 b= 5 c= 3
12
a= 5 b= 2 c= 7
14

202010654박지훈

In [13]:
sum=lambda x, y: x+y
print("정수의 합:", sum(10,20))
print("정수의 합:", sum(20,20))

정수의 합: 30
정수의 합: 40

In [14]:
eval('1+2*3')

7

In [15]:
int("123")

123

In [16]:
int('1010', 2)

10

In [17]:
def Squares(n):
    return n**2
numbers=[1,3,5,9]
print(map(Squares, numbers))

<map object at 0x0000019A7F97E3E0>

In [18]:
round(12.345,1)

12.3

In [19]:
round(12.345,2)

12.35